.car-points .inspectionContainer {
  display: flex;
  align-items: center;
}

.car-points .carContainer {
  position: relative;
}
.car-points .grid-container{
  display: grid;
  grid-template-rows: 114px 195px 114px 1px;
  align-items: center;
  width: 83%;
  margin: 0 auto;
}
.car-points .carContainer + .carContainer {
  margin-top: 80px;
}
.car-points .carContainer[data-face="top"] {
  background-image: url("../../../images/Test-2\ \(1\).png");
  background-size: 100% 100%;
  width: 166px;
  height: 372px;
  position: relative;
  margin: -84px 107px;
  background-repeat: no-repeat;
  grid-row-start: 2;
  grid-column-start: 2;
  transform: rotate(270deg);
}
.car-points .carContainer[data-face="front"] {
  background-image: url("../../../../src/images/Front-\(1\)-Recovered.png");
  background-size: 100% 100%;
  width: 173px;
  height: 122px;
  position: relative;
  background-repeat: no-repeat;
  transform: rotate(90deg);
  grid-row-start: 2;
  grid-column-start: 1;
  margin: 40px 0;
}
.car-points .carContainer[data-face="back"] {
  background-image: url("../../../../src/images/Back.png");
  background-size: 100% 100%;
  width: 173px;
  height: 122px;
  position: relative;
  background-repeat: no-repeat;
   grid-column-start: 3;
    grid-row-start: 2;
    margin: 40px 0px;
    transform: rotate(270deg);
}
.car-points .carContainer[data-face="left"] {
  background-image: url("../../../../src/images/Test-Side-left.png");
  background-size: 100% 100%;
  width: 321px;
  height: 99px;
  position: relative;
  background-repeat: no-repeat;
  grid-row-start: 3;
    grid-column-start: 2;
    margin: 0 31px;
}
.car-points .col-md-12 {
  margin-top: 5%;
}
.car-points .carContainer[data-face="right"] {
  background-image: url("../../../../src/images/right.png");
  background-size: 100% 100%;
  width: 321px;
  height: 99px;
  position: relative;
  background-repeat: no-repeat;
  grid-row-start: 1;
  grid-column-start:2;
  transform: rotate(180deg);
  margin: 0 31px;
}
.car-points .singleDot {
  width: 10px;
  position: absolute;
  height: 10px;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  /* background-color: #0d74cd; */
  border-radius: 50%;
  cursor: pointer !important;
}
.car-points .pulse-box {
  pointer-events: none;
  position: relative;
  cursor: pointer;
  width: 100%;
}

.car-points .pulse-box svg {
  cursor: pointer;
  width: 17%;
  margin-bottom: 199%;
  margin-top: -3px;
}
.car-points .carContainer[data-face="front"] .smallPop {
  width: 255px;
  position: absolute;
  left: 58px;
  top: calc(50% - 358px / 2);
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 1px 6px 0 #000;
  display: none;
  transform: rotate(270deg);
  z-index: 1;

}
.car-points .carContainer[data-face="back"] .smallPop {
  width: 255px;
  position: absolute;
  left: -311px;
  top: calc(50% - 262px / 2);
  transform: rotate(90deg);
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 1px 6px 0 #000;
  display: none;
  z-index: 1;

}
.car-points .carContainer[data-face="right"] .smallPop {
  content: "";
  width: 255px;
  position: absolute;
  left: -120px;
  top: calc(50% - 700px / 2);
  transform: rotate(180deg);
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 1px 6px 0 #000;
  display: none;
  z-index: 1;

}

.car-points .carContainer[data-face="left"] .smallPop {
  width: 255px;
  position: absolute;
  left: -120px;
  top: calc(50% - -30px / 2);
  transform: rotate(0deg);
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 1px 6px 0 #000;
  display: none;
  z-index: 1;
}
.car-points .carContainer[data-face="top"] .smallPop {
  width: 255px;
  position: absolute;
  left: -300px;
  top: calc(50% - 307px / 2);
  transform: rotate(90deg);
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 1px 6px 0 #000;
  display: none;
  z-index: 1;

} 
.car-points #clicked{
  z-index: 9;
}
.car-points .smallPop .clicked {
  display: block;
}
.car-points .smallPop img {
  width: 100%;
}
.car-points .smallPop p {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  color: #fff;
  font-size: 14px;
  padding: 4px;
}

.car-points {
  margin-bottom: 7%;
  margin-top: 7%;
}
@media (max-width: 1199px) {
.car-points .grid-container{
  width: 100%;
}

}
@media (max-width: 992px) {
  .car-points .grid-container{
    zoom: .8;
  }
}
@media (max-width:767px) {
  .car-points .grid-container{
    zoom: .7;
    margin: 0 -60px;
  }
}
@media (max-width:640px) {
  .car-points .grid-container{
    zoom: .7;
    margin: 0 -55px;
  }
}
@media (max-width:574px) {

  .car-points .carContainer[data-face="front"] .smallPop {
    top: calc(50% - 450px / 2);
  }
}
@media (max-width:539px) {
  .car-points .grid-container{
    zoom: .6;
    margin: 0 -75px;
  }
}
@media (max-width:425px) {
  .car-points .grid-container{
    zoom: .5;
  }
  .car-points .carContainer[data-face="back"] .smallPop {
    top: calc(50% - 362px / 2);
  }
}
@media (max-width:375px) {
  .car-points .grid-container{
    zoom: .4;
    margin: 0 -77px;

  }
}
@media (max-width:320px) {
  .car-points .grid-container{
    zoom: .4;
    margin: 0 -140px;

  }
}
@media (max-width:280px) {
  .car-points .grid-container{
    zoom: .35;
    margin: 0 -170px;

  }
 
}