.invPayment {
  background-image: url("../../images/BG-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  background-attachment: fixed;
  margin-bottom: 5%;
}
.invPayment .row {
  padding: 13% 0 0 0;
}
.invPayment .row .col-lg-6{
  margin-top: 2%;
  margin-bottom: 15%;
}

.invPayment .row .col-lg-5{
  margin-top: 11%;
} 
@media(max-width:1024px){
  .invPayment .row .col-lg-6{
margin-bottom: 90%;
  }
}
@media(max-width:320px){
.invPayment {
  width: 107%;
}
}
 
@media(max-width:280px){
  .invPayment {
    width: 123%;
  }
  }
   