.notes{
    margin-top: 5%;
}
.notes .item{
    margin-top: 5%;
}
.notes .item h5 {
  font: normal normal 600 19px/29px Lato;
  letter-spacing: 0px;
  color: #1c1c26;
}
.notes .item p{
    text-align: left;
font: normal normal normal 13px/19px Lato;
letter-spacing: 0px;
color: #888888;
}
